#sidebar a.active {
    font-weight: 600px;
    color: rgb(21, 212, 21);
    background-color: white;
    border: 2px solid rgb(24, 173, 24);
  }
#sidebar2 a.active {
    font-weight: 600px;
    color: rgb(21, 212, 21);
    background-color: white;
    border: 2px solid rgb(24, 173, 24);
  }
#sidebar3 a.active {
    font-weight: 600px;
    color: rgb(21, 212, 21);
    background-color: white;
    border: 2px solid rgb(24, 173, 24);
  }
#sidebar4 a.active {
    font-weight: 600px;
    color: rgb(21, 212, 21);
    background-color: white;
    border: 2px solid rgb(24, 173, 24);
  }
#sidebar5 a.active {
    font-weight: 600px;
    color: rgb(21, 212, 21);
    background-color: white;
    border: 2px solid rgb(24, 173, 24);
  }